# Ignore everything by default
*

# Do NOT ignore this .gitignore file itself
!.gitignore

# Do NOT ignore these files
!__init__.py
!device.py
!subckt.py
!virtuoso.py
!newlib.py
!config.py
!extract.py
!cdl_gen.il
!techmap.json
!devmap.txt
!README.md
!LICENSE
!logo--cdl_gen.png

# Templates (recurse into subfolders)
!templates/
!templates/**

# Never track caches
__pycache__/
*.pyc
